.MyStudentLogin{
  align-items: center;
  min-width: max-content;
  mask-type: alpha;
}


.alert-danger {
  width: max-content !important;
}

.form-control {
  width: max-content !important;
}

.form-group{
  width: max-content !important;
}

.btn-custom{
  background-color: black;
  color: white;
  width: max-content !important;
}
