.MyProfLogin{
  align-items: center;
  min-width: 50%
}

  .form-control {
    width: 50% !important;
  }
  
  .formp{
    width: 50% !important;
  }

  .btn-custom{
    background-color: black;
    color: white;
  }
  