.MyProfLogin{
  align-items: center;
  min-width: 100%
}



.alert-danger {
  width: 100% !important;
}

.form-control {
  width: 100% !important;
  size: 500px;
}

.form-group{
  width: 100% !important;
}

.btn-custom{
  background-color: black;
  color: white;
  width: 100% !important;
}
